body{
  /* Aesthetics */
  font-family: Cambria;
  background-color: black;
  background-image: url(assets/currentBackground.jpg);
}

/* for index.html */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

img {
  width: 80%;
  height: auto;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.85;
}

img:hover{
  opacity: 0.4;
}

#logo{
  width: 600px;
  height: auto;
}

input{
  height:30px;
  font-size: 130%;
  border-radius: 7px;
  text-align: center; 
  font-size: 120%;
  font-family: Cambria;
  display: flex;
  justify-content: space-between;
}

span{
  display: flex;
  justify-content: space-evenly;
  text-shadow: 5px 5px 3px black;
  font-size: 120%;
  color: white;
  font-weight: italics;
}

span input{
  display: flex;
  justify-content: space-evenly;
  font-weight: normal;
  font-size: 100%;
}

/** for game.html */
#gameBod{
  display: inline;
  box-shadow: 0 0 8px 8px white inset;
}
.outline {
  display: flex;
  justify-content: center;
  align-items:center;
}

p {
  font-size: 150%;
  color: white;
  font-family: Cambria; 
  border: white solid 2px;
  border-radius: 10px;
}

.status{
  display:flex;
  justify-content:center;
}

.marbleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: column;
  border-radius: 30px;
  width: 550px;
  height: 300px;
 } 

.marble{
  background-color: black;
  width: 100px;
  height: 100px;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,0.5), 0px 0px 60px black;
  border: 1px solid black;
  /* Makes the square into a circle */
  border-radius: 50%; 
  background-image: url(https://5.imimg.com/data5/LE/GE/MY-33934902/marble-500x500.jpg);
}

.plus{
  background-image: url(http://pngimg.com/uploads/plus/plus_PNG107.png);
}

.container{
  display: flex;
  justify-content: space-evenly;
}

.marble:hover{
  opacity: 0.7;
  border: whitesmoke;
  background-image:url(https://i.imgur.com/GVDq5Wt.gif);
}

.textMove{
  width:130px;
}

#rules-narrow{
  display: none;
}

#rules-wide {
  display: flex;
}

@media screen and (max-width: 800px){
  .marbleContainer {
    height: 600px;
    width: 240px;
  }

  #rules-narrow{
    display: flex;
  }

  #rules-wide {
    display:none;
  }
}
